<p>templatereferencevariable - demo</p>


<!-- <input type="text" name="firstname" #fname>
<button (click)="bindData(fname.value)">SUBMIT</button> -->

<!-- <input type="text" name="firstname" #fname>
<button (click)="bindData(fname.value)">SUBMIT</button><br>
{{fstname}}<br> -->

<input type="text" name="firstname" #fname><br><br>
<input type="text" name="email" #email><br><br>
<button (click)="bindData(fname.value,email.value)">SUBMIT</button><br>
<p>Name:{{fstname}}</p><br>
<p>Email Id:{{uemail}}</p>

