<!-- <app-header></app-header> -->
<div><h3 style="text-align: center; color: cadetblue;">Greetings Angular!!!</h3></div>


<!-- Event Binding - examples -->
<!-- <h2>This is {{myname}}</h2>
<input type="button" value="UPDATE" (click)="updateName()"> -->

<!-- <h2>This is {{nm}}</h2>
<input type="button" value="UPDATEMyName" (click)="updateMyName('MelishaN')"> -->
<!-- //Event Binding
<h3>Jeans<button (click)="addToCart('laptop')">ADD TO CART</button></h3> 
<h5>The item added to cart:{{productName}}</h5> -->

<app-footer></app-footer>