<!-- <app-container></app-container> -->
<!-- <app-ngfordemo></app-ngfordemo> -->
<!-- <app-ngifdemo></app-ngifdemo> -->
<!-- <app-ngswitchdemo></app-ngswitchdemo> -->
<!-- <app-ngclassdemo></app-ngclassdemo> -->
<!-- <app-ngstyledemo></app-ngstyledemo> -->
<!-- <app-togglebutton></app-togglebutton> -->
<!-- <app-templatereferencevariabledemo></app-templatereferencevariabledemo> -->
<!-- <app-calculator-si></app-calculator-si> -->
<!-- <app-parent></app-parent> -->
<!-- <app-countries></app-countries> -->
<!-- <app-dashboard></app-dashboard> -->
<app-registration></app-registration>








<!-- Number sort using pipe(custom pipe) -->
<!-- <h1>Marks</h1> -->
<!-- <h3 *ngFor="let mark of marks | numbersort">{{mark}}</h3> -->


<!-- 
<h1>Names</h1>
<h3 *ngFor="let name of names ">{{name}}</h3> -->


<!-- Displaying Date using pipes(built-in)-->
<!-- // myDate (printing the varible-myDate)
<h5>{{myDate}}</h5>
// |date
<h5>{{myDate|date}}</h5>
// |short
<h5>{{myDate|date:'short'}}</h5>
// |long
<h5>{{myDate|date:'long'}}</h5>
// |medium
<h5>{{myDate|date:'medium'}}</h5>
// |fullDate
<h5>{{myDate|date:'fullDate'}}</h5>
// |shortDate
<h5>{{myDate|date:'shortDate'}}</h5>
// |longDate
<h5>{{myDate|date:'longDate'}}</h5>
// |dd-MM-YYYY
<h5>{{myDate|date:'dd-MM-YYYY'}}</h5>
// |MM-dd-YYYY
<h5>{{myDate|date:'MM-dd-YYYY'}}</h5>
// |YYYY-MM-dd
<h5>{{myDate|date:'YYYY-MM-dd'}}</h5>
// |hh:MM:a
<h5>{{myDate|date:'hh:MM:a'}}</h5>
// |hh:MM:ss:a
<h5>{{myDate|date:'hh:MM:ss:a'}}</h5>
// |hh:MM:ss
<h5>{{myDate|date:'hh:MM:ss'}}</h5>
// |hh:a
<h5>{{myDate|date:'hh:a'}}</h5> -->


<!-- Using Custom directive -->
<!-- <h1 appHighlight>Welcome!!!</h1> -->
<!-- <h1 appHighlight style="text-align: center;">Welcome!!!</h1> -->



<!-- using services
{{companyName}}
<h1>Total Price:{{total}}</h1>
<button (click)="calculate(10,300)">Calculate</button> -->

