<p>ngfor - demo</p>
<!-- {{employees|json}} -->

<h3>Employee details</h3>
<table border="2">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>username</th>
        <th>email</th>
        <th>age</th>
        <th>address</th>
    </tr>
    <tr *ngFor="let emp of employees| numbersort">
        <!-- <tr *ngFor="let emp of employees| namesort"></tr> -->
        <!-- <td>{{i+1}}</td> -->
        <!-- <td>{{emp.id| currency:'Rs'}}</td> -->
        <td>{{emp.id}}</td>
        <td>{{emp.name}}</td>
        <td>{{emp.username}}</td>
        <td>{{emp.email|lowercase}}</td>
        <td>{{emp.age|agecalculate}}</td>
        <td>{{emp.address.city}}</td>
    </tr>
</table>